<h2>Propositions</h2>
<% if @votes.length > 0 %>
  <%= simple_form_for @votes, url: submit_vote_path, html: { method: :post } do |f| %>
    <hr>
    <% @votes.each_with_index do |vote, index| %>
      <div class="d-block d-md-flex justify-content-between align-items-center">
        <p style="margin:0;"><b><%= @consultation[:propositions][index][:title] %> : </b><%= @consultation[:propositions][index][:description] %></p>
        <%= f.fields_for "votes[#{index}]", vote do |pf| %>
          <%= pf.input :proposition_id, as: :hidden %>
          <%= pf.input :choice, collection: Vote::CHOICES, input_html: { class: 'form-control', style: "margin:0;width:120px;margin-left:20px;"}, required: true, label: false %>
        <% end %>
      </div>
      <hr>
    <% end %>
    <%= f.button :submit, "Voter", class: 'btn btn-primary btn-block', style: "background-color: #150cbf;margin-bottom: 20px;" %>
  <% end %>
<% else %>
  <p>Les propositions sur lesquelles vous devrez vous prononcer ne sont pas encore disponibles.</p>
<% end %>