<div class="container">
  <div class="row">
  	<% if @consultation.nil? %>
  	  <p>Une erreur est survenue, merci de contacter un administrateur.</p>
  	<% else %>
  	  <div class="col-12">
  	    <h1><%= @consultation["title"] %></h1>
  	  </div>
  	  <div class="col-12">
  	    <h2>Description</h2>
  	    <p><%= @consultation["description"] %></p>
  	    <br>
  	    <% if @consultation["start_date"].to_date > Time.zone.today %>
  	      <p>Cette consultation commencera le <%= @consultation["start_date"].to_date.strftime('%d/%m/%Y') %></p>
  	    <% else %>
  	      <p>Vous pouvez trouver l'ensemble des propositions de cette consultation ci-dessous : </p>
  	      <% @consultation["propositions"].each do |proposition| %>
  	      	<p><b><%= proposition["title"] %> : </b><%= proposition["description"] %></p>
  	      <% end %>
  	      <a href="/consultations/<%= @consultation["title"].downcase.gsub(" ", "-") %>/voter" class="btn btn-primary btn-block" style="background-color: #150cbf;">Je participe à la consultation</a>
  	    <% end %>
  	  </div>
  	<% end %>
  </div>
</div>

