<div class="container">
  <div class="row">
  	<% if @consultation.nil? %>
  	  <p>Une erreur est survenue, merci de contacter un administrateur.</p>
  	<% elsif @consultation["start_date"] < Time.zone.today %>
	  <p>Cette consultation commencera le <%= consultation["start_date"].strftime('%m-%d-%Y') %></p>
  	<% else %>
  	  <div class="col-12">
  	    <h1> Vote pour la consultation <%= @consultation["title"] %></h1>
  	  </div>
  	  <div class="col-12">
  	    <h2>Description</h2>
  	    <p><%= @consultation["description"] %></p>
  	    <br>
  	    <p>Vous pouvez trouver l'ensemble des propositions de cette consultation ci-dessous : </p>
  	    <% @consultation["propositions"].each do |proposition| %>
  	    	<p><b><%= proposition["title"] %> : </b><%= proposition["description"] %></p>
  	    <% end %>
  	  </div>
  	<% end %>
  </div>
</div>

