<div class="container">
  <div class="row">
    <div class="col-12 list-description">
      <% if @list.nil? %>
		    <p>Une erreur est survenue</p>
      <% else %>
      	<h1><%= @list["name"] %></h1>
        <br>
        <% if @list["description"].blank? %>
          <p>Cette liste n'a pas encore répondu à notre sollicitation et n'a pas fourni de description à relayer.</p>
        <% else %>
          <%= sanitize(@list["description"]) %>
        <% end %>
        <% if @list["candidates"].length > 40 %>
          <h2>Candidats</h2>
          <div class="row">
            <% @list["candidates"].each do |candidate| %>
              <% gender = candidate["gender"] == "man" ? "M." : "Mme" %>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <p><%= "#{candidate["position"]}. #{gender} #{candidate["first_name"]} #{candidate["last_name"]}" %></p>
              </div>
            <% end %>
          </div>
        <% end %>

        <h2>Contact</h2>
        <p style="margin:0">Site Web : <a href="<%= @list['website'] %>" target="blank"><%= @list["website"] %></a></p>
        <p style="margin:0">Téléphone : <%= @list["phone"] %></p>
        <p style="margin:0">Mail de contact : <a href="mailto:<%= @list['email'] %>"><%= @list["email"] %></a></p>

        <br>
        <p style="font-size: 12px;"><em>Contenu mis à jour le <%= @list["updated_at"] %></em></p>
      <% end %>
    </div>
  </div>
</div>

