<div class="container">
  <div class="row">
    <div class="col-12 list-description">
      <% if @list.nil? %>
		    <p>Une erreur est survenue</p>
      <% else %>
      	<h1><%= @list["name"] %></h1>
        <br>
        <% if @list["description"].blank? %>
          <p>Cette liste n'a pas encore répondu à notre sollicitation et n'a pas fourni de description à relayer.</p>
        <% else %>
          <%= sanitize(@list["description"]) %>
        <% end %>

        <h2>Contact</h2>
        <p style="margin:0">Site Web : <a href="<%= @list['website'] %>" target="blank"><%= @list["website"] %></a></p>
        <p style="margin:0">Téléphone : <%= @list["phone"] %></p>
        <p style="margin:0">Mail de contact : <a href="mailto:<%= @list['email'] %>"><%= @list["email"] %></a></p>

        <br>
        <p style="font-size: 12px;"><em>Contenu mis à jour le <%= @list["updated_at"] %></em></p>
      <% end %>
    </div>
  </div>
</div>

