<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align: center;">Confirmer mon invitation</h1>
    </div>
    <div class="col-8 offset-2 center-block">
      <%= simple_form_for @user, url: invitations_path, class: "form-group" do |f|  %>
        <%= f.input :first_name, required: true, autofocus: true, label: false, 
                    placeholder: "Prénom", input_html: { class: "form-control", value: @user.try(:first_name)} %>
        <%= f.input :last_name, required: true, label: false, placeholder:"Nom",
                    input_html: { class: "form-control", value: @user.try(:last_name) } %>
        <%= f.input :password, required: true, label: false, placeholder: "Mot de passe", input_html: { class: "form-control"} %>
        <%= f.check_box :accepted_condition, required: true, input_html: { class: "form-check"} %>
        <%= f.label :accepted_condition do
          "Je reconnais avoir lu et compris les #{link_to("CGU", "mentions-legales", target: "_blank")} et je les accepte".html_safe
         end %>
        <%= f.hidden_field :invitation_token, value: @invitation_token %>
        <%= f.button :submit, "Créer mon compte", class: 'btn btn-primary btn-block', style: "background-color: #150cbf;" %>
      <% end %>
    </div>
  </div>
</div>
